
<header> 

    <h1>got what it takes</h1> 
    <h1 class="animated1 bounceInDown"> to be a <span>REAL PLAYA?</span></h1> 
    <h2 class="animated6 bounceInDown"> WELCOME TO </h2> 
    
    <div class="logo">  
    <img class="animated7 bounceInDown logo" src="<%= asset_path('ultimateplaya.svg') %>" alt="ultimateplayer">  
    </div> 

    <h3 class="animated7 bounceInDown guide"> your <span>#1</span>  guide to <span>NBA fantasy teams</span> </h3> 

    <div id="playa1"> 
      <img class="animated2 bounceInLeft playa1" src="<%= asset_path('playa1.png') %>"alt="playa1"> 
    </div> 

    <div id="playa2"> 
      <img class="animated3 bounceInLeft playa2" src="<%= asset_path('player2.png') %>"alt="playa2"> 
    </div> 

      <div id="playa3"> 
      <img class="animated4 bounceInRight playa3" src="<%= asset_path('player4.png') %>"alt="playa3"> 
    </div> 

      <div id="playa4"> 
      <img class="animated5 bounceInRight playa4" src="<%= asset_path('player5.png') %>"alt="playa4"> 
    </div> 


</header> 

    <nav class="main-nav"> 
     

        <div id="leftnav"> 
          <ul class="list-inline"> 
             <li><a data-scroll data-options='{ "speed": 1500, "easing": "easeInOutQuad" }' href="#about">about</a></li> 
             <li> &nbsp; &nbsp; &nbsp; </li> 

              <li><a data-scroll data-options='{ "speed": 1500, "easing": "easeInOutQuad" }' href="#startingfive">starting-five</a></li> 
        </div> 
      
        <div id="rightnav">
           <% if current_user  %>
           <%= current_user.username  %> 

           <span id="logout"><%= link_to "LOGOUT", logout_path, class: 'normalink' %></span> 
           <script>
              $(document).ready(function() {
              smoothScroll.animateScroll( null, "#startingfive", { "speed": 1500, "easing": "easeInOutQuad" } ); 
            }); </script> 

            <% else %>

            <%= form_for :user, url: '/login' do |f| %>
        
              <li class="signin">  <%= f.text_field :username, placeholder: 'username',class: 'form-control' %> </li> 
              <li> <%= f.password_field :password, placeholder: 'password', class: 'form-control'%> </li> 
              <li> <%= f.submit 'LOGIN', class: 'btn btn-primary' %></li> 
            <% end %>
          <% end %>
        </div> 


    </nav>

<div class="main"> 

    <div id="about"> 
      <div class="row"> 
        <div class="col-md-2"></div> 
          <div class="col-md-8"> 
            <br> <br> 
              <h1 id="aboutshout"> what can <span id="ultimate"> UltimatePlayers </span>  do for you? </h1> 
                <p> Do you enjoy playing the NBA Fantasy League?  This app lets you choose your NBA players and form your fantasy team. The app will receive live updated stats on your selected players during the NBA playoffs. It calculates live stats and see your best starting five players on any given day. It's a fast and easy way to see all your fantasy players in one place. 
                </p> 
              <h2> Signup to get started! </h2>  <%= link_to "Signup", signup_path %>
          </div> 
        <div class="col-md-2"></div> 
    </div> 
  </div> 

  <div id="startingfive"> 
    <% if current_user %>
        <h1>Pick Your Starting Five! </h1>
              <div ng-hide="vm.players.length == 5">

          <select ng-change="vm.changedTeam()" ng-model="vm.selectedTeamId">
          <option>-- Select a Team --</option>
          <option ng-repeat="team in vm.teams" value="{{team.id}}">{{team.name}}</option>
        
        </select>
          <select ng-change="vm.selectedPlayer()" ng-model="vm.selectedPlayerId">
          <option ng-repeat="player in vm.roster" value="{{player.id}}">{{player.player_name}}</option>
        </select> 
  </div>


  <div ng-show="vm.players.length == 5"> 
     <button ng-click="vm.resetplayers()" type="button" class="btn btn-info">RESET</button> 
  </div> 

<p>Selected Team</p>

    <div class="bounceIn" ng-repeat="team in vm.teams" ng-show="vm.selectedTeamId == team.id"> 
      <img ng-hide="vm.players.length == 5" style="width:169px;" ng-src="{{ team.image_url }} ">
    </div> 

    <div class="bouncIn" ng-repeat="player in vm.players"> 
      {{ player.player_name }} <img style="width:150px;"ng-src="{{ player.players_image }}"> + {{ player.player_position }} <img style="width:200px;"ng-src="{{ player.team.image_url }}">
    </div> 
</div> 

<% end %>

<footer> 

  <h2>MADE WITH GA</h2> 


</footer> 
