
<header> 

    <h1>got what it takes</h1> 
    <h1 class="animated1 bounceInDown"> to be a <span>REAL PLAYA?</span></h1> 
    <h2 class="animated6 bounceInDown"> WELCOME TO </h2> 
    
    <div class="logo">  
    <img class="animated7 bounceInDown logo" src="<%= asset_path('ultimateplaya.svg') %>" alt="ultimateplayer">  
    </div> 

    <h3 class="animated7 bounceInDown guide"> your <span>#1</span>  guide to <span>NBA fantasy teams</span> </h3> 

    <div id="playa1"> 
      <img class="animated2 bounceInLeft playa1" src="<%= asset_path('playa1.png') %>"alt="playa1"> 
    </div> 

    <div id="playa2"> 
      <img class="animated3 bounceInLeft playa2" src="<%= asset_path('player2.png') %>"alt="playa2"> 
    </div> 

      <div id="playa3"> 
      <img class="animated4 bounceInRight playa3" src="<%= asset_path('player4.png') %>"alt="playa3"> 
    </div> 

      <div id="playa4"> 
      <img class="animated5 bounceInRight playa4" src="<%= asset_path('player5.png') %>"alt="playa4"> 
    </div> 


</header> 

    <nav class="main-nav"> 
     

        <div id="leftnav"> 
          <ul class="list-inline"> 
             <li><a data-scroll data-options='{ "speed": 1800, "easing": "easeInOutQuad" }' href="#about">ABOUT</a></li> 

             <li> &nbsp; &nbsp; &nbsp; </li> 

              <li><a data-scroll data-options='{ "speed": 1500, "easing": "easeInOutQuad" }' href="#startingfive">STARTING-FIVE</a></li> 
            </ul> 
        </div> 
      
        <div id="rightnav">
            <% if current_user  %>
           <span id="currentuser"><%= current_user.username %></span> 

           &nbsp; &nbsp; 

           <%= link_to "LOGOUT", logout_path, class: 'normalink' %>
           <script>
              $(document).ready(function() {
              smoothScroll.animateScroll( null, "#startingfive", { "speed": 1500, "easing": "easeInOutQuad" } ); 
            }); </script> 

            <% else %>

            <%= form_for :user, url: '/login' do |f| %>
        
              <li class="signin">  <%= f.text_field :username, placeholder: 'username',class: 'form-control' %> </li> 
              <li> <%= f.password_field :password, placeholder: 'password', class: 'form-control'%> </li> 
              <li> <%= f.submit 'LOGIN', class: 'btn btn-primary' %></li> 
            <% end %>
          <% end %>
        </div> 


    </nav>


<div id="about"> 

<!-- about page  -->
        <div class="main"> 
            <div class="about row"> 
              <div class="col-md-2"></div> 
                <div class="col-md-8"> 
                  <br> <br> 
                    <div class="aboutcontainer text-center"> 
                      <br><br> 
                      <h1 id="aboutshout"> what can 

                           <img id="ultimate" src="<%= asset_path('ultimateplaya.svg') %>" alt="ultimateplayer">  

                        do for you? </h1> 
                        <hr id="dashed"> 

                        <p class="aboutext"> Do you play NBA Fantasy League?  This app lets you choose your NBA players and form your fantasy team according to their live stats. The app will receive live updated stats on your selected players during the NBA season. It calculates live stats, puts your  starting five players, and compares it with the other possible starting five. The app is designed to provide you with the best possible starting five players for your fantasy team. 
                        It's a fast and easy way to manage all your NBA stats all in one place. 
                        </p> 

                     <p class="aboutsignup"> <%= link_to "signup", signup_path, class: 'aboutsignup'  %> & get started!</p> 

                  </div> 
                </div> 
              <div class="col-md-2"></div> 
            </div> 
<!-- about section  -->


<!-- starting - five play mechanic 
       -->
        <div id="startingfive"> 
          <br> 
            <div class="startingfive row">
              <% if current_user %>
                <br><br> 
                  <h4>Pick - Your - Starting - Five! </h4> 
                    <div ng-hide="vm.players.length == 5">
                    

                        <select ng-change="vm.changedTeam()" ng-model="vm.selectedTeamId"> 
                        <option value="">--Select A Team--</option>
                        <option ng-repeat="team in vm.teams" value="{{team.id}}">{{team.name}}</option>
                        </select>
              
                        <select ng-change="vm.selectedPlayer()" ng-model="vm.selectedPlayerId">

                        <p id="selected">Selected Team</p>

                        
                        <ul class="col-md-5">
        
                        
                        <li> <option ng-repeat="player in vm.roster" value="{{player.id}}">{{player.player_name}}</option>
                        </select> </li> 

                  </div> 

                 <div class="animated bounceIn" ng-repeat="team in vm.teams" ng-show="vm.selectedTeamId == team.id"> 
                  <img ng-hide="vm.players.length == 5" style="width:169px;" ng-src="{{ team.image_url }} ">
                 </div> 

                <div class="animated bounceIn" ng-repeat="player in vm.players"> 
                     {{ player.player_name }} <img style="width:150px;"ng-src="{{ player.players_image }}"> + {{ player.player_position }} <img style="width:200px;"ng-src="{{ player.team.image_url }}">
                </div>  
                <% end %>

                <div ng-show="vm.players.length == 5"> 
                  <button ng-click="vm.resetplayers()" type="button" class="btn btn-info">RESET</button> <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">
                </div> 
          </div> 
      </div> 



<footer class="row text-center attr-footer"> 
  
  <div class="left-side"> 
    WDI Project 4 - Created by: BenSam 

      <a href="https://www.facebook.com/ben.sam.370"><img src="/facebookicon.png" class="facebook"></a>

      <a href="www.linkedin.com/pub/ben-samansareesak/a8/789/777/en"><img src="/linkedin.png" class="linkedin"></a>

      <a href="https://github.com/bbmac24"><img src="githubicon.png" class="github"></a>
  </div> 

  <div class="right-side"> 
    powered by: &nbsp; 

      <a href="http://developer.sportsdatallc.com/"><img src="/sportsdata1.png" class="sportsdata"></a>
  </div> 

</footer> 
